@import "tailwindcss";

html {
    background-image: linear-gradient(to right, var(--color-green-900), var(--color-gray-900));
}

.font-cascadia{
    font-family: 'Cascadia Code', sans-serif;
}

.embla__viewport {
    overflow: hidden;
}

.embla__container {
    display: flex;
}

.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
}
  